@media screen and (min-width: 800px){
    body{
        background-color: yellow;
    }
}
@media screen and (min-width: 850px){
    body{
        background-color: white;
    }
}
@media screen and (max-width: 800px){
    body{
        background-color: lightblue;
    }
}
@media {
    .textInput {
        width: 850px;
        height: 200px;
        resize: none;
    }
}
.counter {
    color: green;
    font-size: 14px;
    font-weight:bold;
}